@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE HTML>
<head>
	<title>Free Home Shoppe Website Template | Home :: w3layouts</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link href="~/Content/css/style.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
	<!-- Begin Wrap -->
	<div class="wrap">
		<!-- Begin Header -->
		<partial name="header" />
		<!-- End Header -->
		<!-- Begin Main -->
		<main>
			@RenderBody()
		</main>
		<!-- End Main -->
	</div>
	<!-- End Wrap -->
	<!-- Begin Footer -->
	<partial name="footer" />
	<!-- End Footer -->
</body>
</html>

